# Test stuff
daniellumertz_Clouds Unvalidate.lua
daniellumertz_Clouds Validate.lua
TODO.txt
.vscode/*
tests
# Settings
User Settings/*
!User Settings/.gitkeep
# Presets
User Presets/*
!User Presets/Default.json
!User Presets/Slow Textures.json
